extends layout.pug

block content
  main
    blockquote {{message}}
    blockquote hello i am block yoyo i am also component sdf

    canvas#background

block scripts
  script(src="/scripts/index.js")
