PEG_DURATION = 1.5s
PEG_EASE_IN_OUT_SINE = cubic-bezier(0.445, 0.05, 0.55, 0.95)

.shelving
  border-radius: 5px
  overflow: hidden
  // background-color: rgba(255,192,203,0.4)
  .peg-container
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
  .peg
    margin: 6%
    width: 12%
    border-radius: 100px
    transition: 0.2s all
    animation: pegInOut PEG_DURATION PEG_EASE_IN_OUT_SINE
    animation-fill-mode: forwards
    animation-iteration-count: infinite
    &._0,
    &._3,
    &._5,
    &._8,
    &._14
      animation-delay: 2s
    &._2,
    &._4,
    &._7,
    &._14,
    &._16
      animation-delay: 1s
  .text-test1
    position: absolute;
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 210%;
    left: 16%;
    top: 18%;
    text-transform: uppercase;
    transform: rotate(-46deg);
  
@keyframes pegInOut
  0%
    box-shadow: none
    transform: none
  50%
    box-shadow: 6px 6px 0 black
    transform: translateX(-5px) translateY(-5px)
  100%
    box-shadow: none
    transform: none



